.deck-hub {
  grid-row: 2/ 3;
  grid-column: 4 / 6;

  border: 2px solid grey;
  padding: 2px;
}

.deck-hub__main-deck-section {
  height: 70%;
  overflow: hidden;
}

.deck-hub__extra-deck-section {
  height: 30%;
  overflow: hidden;
}
