.card-gallery-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.card-gallery {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;

  width: 100%;
  height: calc(100% - 8rem);

  margin-top: 1rem;
  padding: 0 0.5rem;
  padding-top: 1rem;

  overflow-y: auto;
  overflow-x: hidden;
}

.card-gallery__card-container {
  width: 18%;
  max-width: 8rem;
}

.card-gallery__error-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--menu-neon-green);
  font-size: 3rem;
}

@media (max-width: 93.75em) {
  .card-gallery {
    justify-content: center;
  }

  .card-gallery__card-container {
    width: 20%;
    max-width: 8rem;
  }
}
