.card-gallery-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.card-gallery {
  position: relative;

  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(5, 8.8rem);
  grid-template-rows: repeat(3, 13rem);
  gap: 1rem;
  align-items: start;

  width: 100%;
  height: calc(100% - 8rem);

  margin-top: 1rem;

  overflow-y: auto;
  overflow-x: hidden;
}

.card-gallery__error-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--menu-neon-green);
  font-size: 3rem;
}
