@keyframes pulseIn {
  0% {
    transform: scale(1.1);
    opacity: 0.2;
  }
  100% {
    transform: rotate(1);
    opacity: 1;
  }
}

.card-gallery-card {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  cursor: pointer;
  overflow: hidden;
}

.card-gallery-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(203, 251, 15, 0.75);
}

.card-gallery-card__img {
  width: 100%;

  animation-name: pulseIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.card-gallery-card__img--hidden {
  visibility: hidden;
}
