.catalogue-filter-menu {
}

.catalogue-filter-menu > h2,
h3 {
  margin-top: 2rem;
}

.catalogue-filter-menu__title,
.catalogue-filter-menu__title--sub {
  display: inline-block;

  font-weight: 500;

  margin-bottom: 0;
  padding: 1rem;
  border: 2px solid var(--border-light-grey);
  border-bottom: 2px solid var(--menu-cobalt);

  background-color: var(--menu-cobalt);
}

.catalogue-filter-menu__tagline {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.catalogue-filter-menu__btns {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  padding-bottom: 0;

  border: 2px solid var(--border-light-grey);

  background-color: var(--background-dark-grey);
}

.catalogue-filter-menu__btns > label:not(:last-child) {
  margin-right: 1rem;
}

.catalogue-filter-menu__submit-container {
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: center;

  max-width: 34rem;

  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;

  border-radius: 5px;
  border: 2px solid var(--border-light-grey);

  background-color: var(--background-dark-grey);

  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.catalogue-filter-menu__submit-container > button:not(:last-child) {
  margin-right: 1.5rem;
}
