.card-profile-action-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 12rem;

  padding: 1rem;

  background-color: var(--background-dark-grey);
}

@media (max-width: 93.75em) {
  .card-profile-action-bar {
    height: auto;
    padding: 0.25rem;
    justify-content: space-evenly;
  }
}
