.card-profile-stats {
  display: flex;

  padding: 1rem;
}

.card-profile-stats__img-section {
  width: 50%;
}

.card-profile-stats__img {
  width: 100%;
}

.card-profile-stats__icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.card-profile-stats__numbers {
  font-size: 3rem;
}

.card-profile-stats__text-section {
  width: 50%;
  padding-left: 1.5rem;
}

.card-profile-stats__text-section-line {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
