@keyframes pulseIn {
  0% {
    transform: scale(1.1);
    opacity: 0.2;
  }
  100% {
    transform: rotate(1);
    opacity: 1;
  }
}

.card-profile-image {
  width: 100%;

  animation-name: pulseIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.card-profile-image--hidden {
  visibility: hidden;
}
