.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);

  height: calc(100vh - 8rem);
  width: calc(100vw - 8rem);

  border: 2px solid grey;
  padding: 2.5rem;

  background-color: RGBA(0, 0, 0, 0.95);

  overflow-y: auto;
}

.modal__close-btn {
  position: sticky;
  top: 1rem;
  z-index: 50;

  margin-left: auto;
  margin-top: 1rem;

  height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1.5rem;
}

.modal__close-btn > img {
  height: 6rem;
  width: 6rem;

  padding: 1rem;

  background-color: var(--menu-cobalt);

  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 93.75em) {
  .modal {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
  }

  .modal__close-btn {
    margin-bottom: 4rem;
  }
}
