.nav {
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  list-style-type: none;
}

.nav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;

  padding: 1rem;

  border-bottom: 3px solid #000000;

  background-color: var(--menu-cobalt);

  cursor: pointer;

  transition: all 0.2s;
}

.nav__list-item--active {
  border-bottom: 3px solid var(--menu-neon-green);
}

.nav__list-item__img {
  height: 3.5rem;
  width: 3.5rem;
}

.nav__list-item__label {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-left: 1rem;
}

.nav__list-item__extra-span {
  font-size: 1.6rem;
  margin-left: auto;
}

@media (max-width: 46.875em) {
  .nav__list-item__label {
    font-size: 1.6rem;
  }

  .nav__list-item__img {
    height: 2rem;
    width: 2rem;
  }

  .nav__list-item__extra-span {
    font-size: 1.2rem;
  }
}

@media (max-width: 21.25em) {
  .nav__list-item__label {
    font-size: 1.2rem;
  }

  .nav__list-item__img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .nav__list-item__extra-span {
    font-size: 1rem;
  }
}
