@keyframes buttonPulseIn {
  0% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

.rectangular-btn {
  display: flex;
  align-items: center;

  height: 5rem;
  min-width: 14rem;
  background-color: #000000;

  padding: 1rem;
  border: 2px solid var(--border-light-grey);
  border-radius: 10px;

  animation-name: buttonPulseIn;
  animation-duration: 0.4s;

  transition: all 0.2s;
}

.rectangular-btn:hover {
  border: 2px solid #ffffff;
}

.rectangular-btn:hover > img {
  transform: rotate(10deg);
}

.rectangular-btn__img {
  height: 3rem;
  width: 2rem;

  transition: all 0.2s;
}

.rectangular-btn__text {
  display: inline-block;

  margin: 0 auto;

  font-size: 2rem;
}

.rectangular-btn--inactive {
  opacity: 0.5;

  pointer-events: none;
}

@media (max-width: 46.875em) {
  .rectangular-btn {
    flex-wrap: wrap;

    min-width: 8rem;
    max-width: auto;

    padding: 0.75rem;
  }

  .rectangular-btn__text {
    font-size: 1.3rem;
  }
}
