.main-layout {
  display: grid;
  grid-template-columns:
    4rem minmax(45rem, 1.25fr) 2.5rem 1fr 1fr 2.5rem minmax(50rem, 1.25fr)
    4rem;
  grid-template-rows: 10% 87.5% 2.5%;

  height: 100%;
}

@media (max-width: 93.75em) {
  .main-layout {
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 10% 31.5% 1% 56.5% 1%;
  }
}
